{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "airbnb"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-trailing-spaces": ["error", { "skipBlankLines": true }],
    "max-len": [2, 120, 2],
    "import/no-extraneous-dependencies": 0
  }
}
