.app-header {
  padding: 1rem;
  background: black;
  color: white;
  text-align: center;
}

.app-header-github {
  text-align: left;
  font-weight: 100;
  vertical-align: middle;
}
@media screen and (max-width: 960px) {
  .app-header-github {
    margin-bottom: 2rem;
  }
}

.app-header-github a {
  opacity: 1;
  transition: 0.1s;
  color: white;
}
.app-header-github a:hover {
  opacity: 0.5;
  transition: 0.1s;
  text-decoration: none;
}

.app-header-github-logo {
  height: 20px;
  width: 20px;
}

.app {
  margin-top: 3rem;
}